
# binary object
*.o
*.elf
*.hex
*.bin
*.map
*.su
*.config
*.creator*

# unnecessary folders
/build
/build/**
/example/TM4C123*
/obj
/obj/**
/_old
/_old/**

# system junk
*.autosave
*.backup
*.d
*.swp

